//////////////////////////////////////
// css theme variables / settings


$font-family:       "Helvetica Neue", Helvetica, Arial, sans-serif;


$body-color:            #515151;
$body-background-color: #fff;

$link-color:            #268bd2;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #f9f9f9;

