---
layout: default
title: Symbols A-Z
---

<h2>Symbols A-Z</h2>

{% for symbol in site.data.symbols %}
  <a href="#{{symbol.name}}">{{ symbol.name }}</a>  •  
{% endfor %}

<!-- todo/fix: do not include bullet for first (or last) table -->


{% for symbol in site.data.symbols %}
<a name="{{symbol.name}}"></a><h3>{{ symbol.name }}</h3>

{% if symbol.tables.size > 0 %}
<div class='tables'>
{% for table in symbol.tables %}
  {{ table }}  • 
{% endfor %}
</div>
{% endif %}


{% if symbol.columns.size > 0 %}
<div class='columns'>
{% for column in symbol.columns %}
  <div class='column'>
    {{ column.name }}
     <span class='tables'>
     (
       {% for table in column.tables %}
         {{ table }} • 
       {% endfor %}
     )
    </span>
  </div>
{% endfor %}
</div>
{% endif %}


{% endfor %}
